
/* Description */

.main-title-subsection {
 max-width:590px;
 margin:80px auto 75px;
 padding:0 20px
}
.main-title-subsection h2 {
 font-size:35px;
 color:#624499;
 text-transform:uppercase;
 text-align:center;
 margin-bottom:20px;
 margin-top:0
}
.main-title-subsection div,.main-title-subsection p,.main-title-subsection span {
 font-size:22px;
 color:#414141;
 text-align:center;
 font-weight:300;
 line-height:1.2;
 margin:0
}
@media (max-width:991px) {
 .main-title-subsection {
  margin:40px auto 35px
 }
 .main-title-subsection h2 {
  font-size:30px
 }
 .main-title-subsection div,.main-title-subsection p,.main-title-subsection span {
  font-size:20px
 }
}
.background-subsection {
 height:480px;
 width:100%;
 background-size:cover;
 background-repeat:no-repeat;
 background-attachment:fixed;
 position:relative;
 text-align:right;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.background-subsection:after {
 content:"";
 position:absolute;
 width:100%;
 height:100%;
 background-color:rgba(0,0,0,.3);
 top:0;
 left:0
}
.background-subsection .background-content {
 position:relative;
 z-index:1;
 max-width:520px;
 margin-left:auto;
 right:5%
}
.background-subsection .background-content .background-content-title h2,.background-subsection .background-content .background-content-title h3,.background-subsection .background-content .background-content-title h4 {
 font-size:35px;
 color:#FFF
}
.background-subsection .background-content .background-content-title h2.upper,.background-subsection .background-content .background-content-title h3.upper,.background-subsection .background-content .background-content-title h4.upper {
 text-transform:uppercase
}
.background-subsection .background-content .background-content-title h2.no-margin,.background-subsection .background-content .background-content-title h3.no-margin,.background-subsection .background-content .background-content-title h4.no-margin {
 margin:0
}
.background-subsection .background-content .background-content-title span {
 display:block
}
.background-subsection .background-content .background-content-title span.big-font {
 font-size:45px
}
.background-subsection .background-content .background-content-description p {
 color:#FFF;
 font-size:22px;
 font-weight:300;
 line-height:1.2;
 margin-top:15px
}
.background-subsection .background-content .background-content-description p.big-font {
 font-size:45px;
 margin:0
}
.background-subsection .background-content .background-content-description p.bigger-font {
 margin:0;
 font-size:70px;
 font-weight:300;
 letter-spacing:-4px
}
.background-subsection .background-content .background-content-button {
 height:70px;
 width:225px;
 border:2px solid #FFF;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-left:auto;
 margin-top:30px;
 text-decoration:none;
 position:relative;
 -webkit-transition:.9s;
 transition:.9s;
 background:0 0;
 overflow:hidden;
 color:#FFF
}
.background-subsection .background-content .background-content-button:active,.background-subsection .background-content .background-content-button:focus,.background-subsection .background-content .background-content-button:hover {
 text-decoration:none
}
.background-subsection .background-content .background-content-button span {
 display:block;
 color:#FFF;
 font-size:22px;
 text-transform:uppercase;
 position:relative;
 z-index:1
}
.background-subsection .background-content .background-content-button:before {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 border-color:transparent transparent transparent #EB1B69;
 position:absolute;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.background-subsection .background-content .background-content-button:after {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 border-color:transparent #EB1B69 transparent transparent;
 position:absolute;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.background-subsection .background-content .background-content-button:hover:after,.background-subsection .background-content .background-content-button:hover:before {
 border-width:40px 570px
}
.background-subsection.left {
 text-align:left
}
.background-subsection.left .background-content {
 margin-left:0;
 margin-right:auto;
 right:0;
 max-width:550px
}
.background-subsection.left .background-content .background-content-button {
 margin-left:0;
 margin-right:auto
}
@media (max-width:767px) {
 .background-subsection {
  max-width:100%;
  padding:0;
  text-align:center;
  background-position:center
 }
 .background-subsection .background-content {
  right:0;
  margin:0 auto
 }
 .background-subsection .background-content .background-content-title span.big-font {
  font-size:22px
 }
 .background-subsection .background-content .background-content-description {
  font-size:26px
 }
 .background-subsection .background-content .background-content-description p.bigger-font {
  font-size:26px;
  letter-spacing:0
 }
 .background-subsection .background-content .background-content-description p.big-font {
  font-size:30px;
  line-height:1;
  margin:10px 0
 }
 .background-subsection .background-content .background-content-button,.background-subsection.left .background-content .background-content-button {
  margin:30px auto
 }
}
.start-now .background-subsection {
 background-position:right
}
.slider-localy .slide {
 height:calc(100vh - 70px);
 width:100%;
 background-size:cover;
 background-repeat:no-repeat;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.slider-localy .slide .slide-content {
 max-width:420px;
 margin-left:70px
}
.slider-localy .slide .slide-content .logo a {
 display:block;
 max-width:225px
}
.slider-localy .slide .slide-content .slide-content-title {
 font-size:30px;
 color:#FFF;
 text-transform:uppercase;
 font-weight:700
}
.slider-localy .slide .slide-content .slide-content-description {
 font-size:22px;
 color:#FFF;
 font-weight:300;
 line-height:1.2;
 margin-top:20px
}
.slider-localy .slide .slide-content .slide-content-button {
 width:206px;
 height:46px;
 border:2px solid #FFF;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-top:20px;
 text-decoration:none;
 position:relative;
 overflow:hidden
}
.slider-localy .slide .slide-content .slide-content-button:hover {
 text-decoration:none;
 color:#FFF
}
.slider-localy .slide .slide-content .slide-content-button span {
 display:block;
 width:100%;
 text-align:center;
 color:#FFF;
 font-size:20px;
 text-transform:uppercase;
 position:relative;
 z-index:1
}
.slider-localy .slide .slide-content .slide-content-button:after,.slider-localy .slide .slide-content .slide-content-button:before {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 position:absolute
}
.slider-localy .slide .slide-content .slide-content-button:before {
 border-color:transparent transparent transparent #624499;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.slider-localy .slide .slide-content .slide-content-button:after {
 border-color:transparent #624499 transparent transparent;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.slider-localy .slide .slide-content .slide-content-button:hover:after,.slider-localy .slide .slide-content .slide-content-button:hover:before {
 border-width:40px 570px
}
.slider-localy .slide .slide-content .slide-content-button:hover span {
 color:#FFF
}
@media (max-height:320px) {
 .slider-localy .slide .slide-content .logo a {
  max-width:140px
 }
 .slider-localy .slide .slide-content .slide-content-title h1,.slider-localy .slide .slide-content .slide-content-title h2 {
  font-size:20px;
  margin:5px 0
 }
 .slider-localy .slide .slide-content .slide-content-description {
  margin-top:5px;
  font-size:16px
 }
 .slider-localy .slide .slide-content .slide-content-description p {
  margin:5px 0
 }
 .slider-localy .slide .slide-content .slide-content-button {
  margin-top:0;
  height:35px
 }
}
@media (max-width:767px) {
 .slider-localy .slide .slide-content {
  margin-left:0
 }
}
.menu-localy {
 height:70px;
 border-top:2px solid #e3e3e3;
 border-bottom:2px solid #e3e3e3;
 width:100%;
 background-color:#F7F7F7;
 position:relative
}
.menu-localy.fixed {
 position:fixed;
 top:0;
 z-index:3
}
.menu-localy .menu-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.menu-localy .menu-logo {
 height:70px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 margin-right:15px
}
.menu-localy .menu-logo a {
 display:block;
 width:40px
}
.menu-localy .menu {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:10;
 -webkit-flex:10 0 0px;
 -ms-flex:10 0 0px;
 flex:10 0 0px;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 list-style-type:none;
 height:70px;
 padding:0
}
.menu-localy .menu li {
 display:inline-block;
 margin-right:20px;
 position:relative
}
.menu-localy .menu li a {
 font-size:18px;
 color:#624499;
 text-transform:uppercase;
 text-decoration:none
}
.menu-localy .menu li:after {
 -webkit-transition:all .5s ease-in;
 transition:all .5s ease-in;
 opacity:0
}
.menu-localy .menu li:hover:after {
 opacity:1;
 content:"";
 width:25%;
 height:1px;
 bottom:-5px;
 left:0;
 right:0;
 margin:0 auto;
 background-color:#624499;
 position:absolute
}
.menu-localy .menu-button-contacto-parent {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 height:70px;
 -webkit-box-flex:2;
 -webkit-flex:2 0 0px;
 -ms-flex:2 0 0px;
 flex:2 0 0px;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto {
 width:100%;
 max-width:165px;
 height:34px;
 border:2px solid #624499;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 text-decoration:none;
 position:relative;
 overflow:hidden
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:hover {
 text-decoration:none;
 color:#FFF
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto span {
 color:#624499;
 font-size:18px;
 position:relative;
 z-index:1;
 -webkit-transition:all .5s ease-in;
 transition:all .5s ease-in
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:after,.menu-localy .menu-button-contacto-parent .menu-button-contacto:before {
 content:'';
 width:0;
 height:0;
 border-style:solid;
 border-width:0;
 position:absolute;
 -webkit-transform:rotate(360deg)
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:before {
 border-color:transparent transparent transparent #624499;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:after {
 border-color:transparent #624499 transparent transparent;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:hover:after,.menu-localy .menu-button-contacto-parent .menu-button-contacto:hover:before {
 border-width:40px 570px
}
.menu-localy .menu-button-contacto-parent .menu-button-contacto:hover span {
 color:#FFF
}
@media (max-width:991px) {
 .menu-localy .menu li {
  margin-right:15px;
  text-align:center
 }
 .menu-localy .menu li a {
  font-size:16px;
  letter-spacing:-1px
 }
}
@media (max-width:767px) {
 .menu-localy .menu {
  display:none
 }
 .menu-localy .menu-button-contacto-parent {
  -webkit-box-pack:end;
  -webkit-justify-content:flex-end;
  -ms-flex-pack:end;
  justify-content:flex-end
 }
 .menu-localy .menu-logo {
  -webkit-box-flex:1;
  -webkit-flex:1 0 0px;
  -ms-flex:1 0 0px;
  flex:1 0 0px
 }
}
.hamburger-menu-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-flex:4;
 -webkit-flex:4 0 0px;
 -ms-flex:4 0 0px;
 flex:4 0 0px;
 position:relative
}
.hamburger-menu-container .hamburger-menu {
 cursor:pointer
}
.hamburger-menu-container .hamburger-menu .line {
 background-color:#624499;
 height:5px;
 width:50px;
 margin-bottom:5px
}
.hamburger-menu-container .menu-mobile {
 display:none;
 position:absolute;
 z-index:3;
 list-style-type:none;
 background-color:#F7F7F7;
 padding:10px 30px;
 top:68px;
 left:0;
 border:2px solid #e3e3e3;
 border-top:none;
 width:250px;
 height:auto
}
.hamburger-menu-container .menu-mobile li a {
 padding:3px 0;
 display:block;
 color:#624499;
 text-decoration:none;
 font-size:20px
}
@media (min-width:767px) {
 .hamburger-menu-container {
  display:none
 }
}
.feature {
 padding:0 30px;
 margin-bottom:95px
}
.feature .feature-icon-parent {
 position:relative
}
.feature .feature-icon-parent .feature-icon i:first-child {
 color:#624499
}
.feature .feature-icon-parent .feature-icon i:nth-child(2) {
 color:#EB1B69
}
.feature .feature-info {
 margin-top:20px
}
.feature .feature-info .feature-info-title {
 font-size:26px;
 color:#624499;
 text-align:center;
 margin-bottom:10px
}
.feature .feature-info .feature-info-description {
 font-size:22px;
 color:#414141;
 text-align:center;
 font-weight:300;
 line-height:1.2;
 margin:0
}
@media (max-width:1199px) {
 .feature {
  padding:0
 }
}
@media (max-width:991px) {
 .feature {
  margin-bottom:50px
 }
 .feature .feature-icon-parent {
  overflow:hidden;
  padding-top:25px
 }
 .feature .feature-info .feature-info-title {
  font-size:22px
 }
 .feature .feature-info .feature-info-description {
  font-size:18px
 }
}
@media (max-width:767px) {
 .feature {
  max-width:270px;
  margin:0 auto 40px
 }
}
.feature .feature-icon {
 position:relative;
 text-align:center;
 height:78px;
 width:90px;
 margin:0 auto
}
.feature.one .feature-icon {
 left:-5px
}
.feature.one .feature-icon i:first-child {
 font-size:75px;
 line-height:0
}
.feature.one .feature-icon i:nth-child(2) {
 font-size:32px;
 position:absolute;
 top:30px;
 left:8px
}
.feature.two .feature-icon {
 top:13px
}
.feature.two .feature-icon i:first-child {
 font-size:55px;
 line-height:0
}
.feature.two .feature-icon i:nth-child(2) {
 font-size:18px;
 position:absolute;
 top:10px;
 left:31px
}
.feature.three .feature-icon i:first-child {
 font-size:70px;
 line-height:0
}
.feature.three .feature-icon i:nth-child(2) {
 font-size:13px;
 position:absolute;
 top:-2px;
 left:35px
}
.feature.four .feature-icon i:first-child {
 font-size:75px;
 line-height:0
}
.feature.four .feature-icon i:nth-child(2) {
 font-size:25px;
 position:absolute;
 top:10px;
 left:45px
}
.feature.five .feature-icon i:first-child {
 font-size:68px;
 line-height:0
}
.feature.five .feature-icon i:nth-child(2) {
 font-size:24px;
 position:absolute;
 top:40px;
 left:21px
}
.feature.six .feature-icon {
 top:4px
}
.feature.six .feature-icon i:first-child {
 font-size:68px;
 line-height:0
}
.feature.six .feature-icon i:nth-child(2) {
 font-size:35px;
 position:absolute;
 top:16px;
 left:20px
}
.columns-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.columns-container .column {
 -webkit-box-flex:1.2;
 -webkit-flex:1.2 0 0px;
 -ms-flex:1.2 0 0px;
 flex:1.2 0 0px
}
.columns-container .column.two,.why-localy-content-parent .why-localy-content {
 -webkit-box-flex:1;
 -webkit-flex:1 0 0px;
 -ms-flex:1 0 0px;
 flex:1 0 0px
}
.columns-container .column.two img {
 margin:0 auto
}
@media (max-width:991px) {
 .columns-container .column.two img {
  max-width:80%
 }
}
@media (max-width:767px) {
 .columns-container .column {
  padding:0
 }
 .columns-container .column.two {
  display:none
 }
}
.include-single {
 max-width:100%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-bottom:60px
}
.include-single .include {
 width:calc(100% - 60px);
 margin-right:20px
}
.include-single .include .include-main-text {
 font-size:26px;
 color:#624499;
 text-transform:uppercase;
 text-align:right
}
.include-single .include .include-secondary-text {
 font-size:22px;
 color:#414141;
 text-align:right;
 font-weight:300
}
.include-single .include.two {
 margin-right:0;
 margin-left:20px
}
.include-single .include.two .include-main-text,.include-single .include.two .include-secondary-text {
 text-align:left
}
.include-single .include-icon {
 width:60px;
 position:relative;
 top:0;
 -webkit-transition:top .3s ease;
 transition:top .3s ease
}
.include-single:hover .include-icon {
 position:relative;
 top:-20px
}
@media (max-width:991px) {
 .include-single {
  margin-right:10px;
  margin-bottom:20px
 }
 .include-single.two {
  margin-left:10px
 }
 .include-single .include .include-main-text {
  font-size:18px
 }
 .include-single .include .include-secondary-text {
  font-size:16px
 }
}
@media (max-width:640px) {
 .columns-container {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
 }
 .columns-container .column {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%
 }
 .include-single,.include-single.two {
  margin-left:auto;
  margin-right:auto
 }
 .include-single {
  max-width:320px
 }
 .include-single .include {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -ms-flex-order:2;
  order:2;
  margin-left:20px;
  margin-right:0
 }
 .include-single .include .include-main-text,.include-single .include .include-secondary-text {
  text-align:left
 }
 .include-single .include-icon {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -ms-flex-order:1;
  order:1
 }
 .include-single:hover .include-icon {
  top:-10px
 }
}
.includes-icon-parent i {
 display:inline-block
}
.includes-icon-parent i.hexagon {
 position:relative;
 width:60px;
 height:34.64px;
 background-color:#624499;
 margin:17.32px 0
}
.includes-icon-parent i.hexagon:after,.includes-icon-parent i.hexagon:before {
 content:"";
 position:absolute;
 width:0;
 border-left:30px solid transparent;
 border-right:30px solid transparent
}
.includes-icon-parent i.hexagon:before {
 bottom:100%;
 border-bottom:17.32px solid #624499
}
.includes-icon-parent i.hexagon:after {
 top:100%;
 width:0;
 border-top:17.32px solid #624499
}
.includes-icon-parent i.hexagon .cross-parent {
 position:absolute;
 top:0;
 left:20px;
 right:0;
 bottom:0;
 margin:auto;
 width:20px;
 height:20px
}
.includes-icon-parent i.hexagon .cross-parent .cross {
 background:#FFF;
 height:22px;
 position:relative;
 width:2px
}
.includes-icon-parent i.hexagon .cross-parent .cross:after {
 background:#FFF;
 content:"";
 height:2px;
 left:-10px;
 position:absolute;
 top:10px;
 width:20px
}
.icon-accounts,.icon-domain,.icon-google,.icon-link,.icon-online-shop,.icon-rent,.icon-warranty,.icon-your-shop {
 height:67px;
 width:60px
}
.icon-online-shop {
 background-image:url(../img/sprite.png);
 background-position:-180px 0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-online-shop {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-accounts {
 background-image:url(../img/sprite.png);
 background-position:-60px 0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-accounts {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-domain {
 background-image:url(../img/sprite.png);
 background-position:-120px 0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-domain {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-google {
 background-image:url(../img/sprite.png);
 background-position:-60px -68px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-google {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-warranty {
 background-image:url(../img/sprite.png);
 background-position:0 -68px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-warranty {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-rent {
 background-image:url(../img/sprite.png);
 background-position:-120px -68px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-rent {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-your-shop {
 background-image:url(../img/sprite.png);
 background-position:-180px -67px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-your-shop {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-link {
 background-image:url(../img/sprite.png);
 background-position:0 -135px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-link {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.icon-seo {
 background-image:url(../img/sprite.png);
 background-position:0 0;
 width:60px;
 height:68px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
 .icon-seo {
  background-image:url(../img/sprite-2x.png);
  background-size:240px 202px
 }
}
.why-localy-content-parent {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin:40px 0
}
.why-localy-content-parent .why-localy-content h2 {
 font-size:35px;
 color:#624499;
 text-transform:uppercase;
 font-weight:300
}
.why-localy-content-parent .why-localy-content p:nth-of-type(1) {
 font-size:26px;
 color:#624499;
 font-weight:300;
 line-height:1.2
}
.why-localy-content-parent .why-localy-content p:nth-of-type(2) {
 font-size:22px;
 color:#414141;
 font-weight:300
}
.why-localy-content-parent .why-localy-image {
 -webkit-box-flex:1;
 -webkit-flex:1 0 0px;
 -ms-flex:1 0 0px;
 flex:1 0 0px;
 text-align:center
}
.why-localy-content-parent .why-localy-image img {
 margin:0 auto
}
@media (max-width:768px) {
 .why-localy-content-parent {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
 }
 .why-localy-content-parent .why-localy-content,.why-localy-content-parent .why-localy-image {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  text-align:center
 }
}
.testimonials .testimonials-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-top:110px;
 margin-bottom:30px
}
.testimonials .testimonials-container .testimonials-first {
 -webkit-box-flex:5;
 -webkit-flex:5 0 0px;
 -ms-flex:5 0 0px;
 flex:5 0 0px;
 padding-right:15px
}
.testimonials .testimonials-container .testimonials-first .testimonial-video {
 display:none
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image {
 background-position:center;
 height:640px;
 background-repeat:no-repeat;
 width:100%;
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button {
 height:60px;
 border:2px solid #FFF;
 width:225px;
 position:relative;
 z-index:2;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 cursor:pointer;
 overflow:hidden
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button span {
 font-size:22px;
 color:#FFF;
 position:relative;
 z-index:2
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button:before {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 border-color:transparent transparent transparent #EB1B69;
 position:absolute;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button:after {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 border-color:transparent #EB1B69 transparent transparent;
 position:absolute;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button:hover:after,.testimonials .testimonials-container .testimonials-first .testimonials-video-image .testimonials-video-image-button:hover:before {
 border-width:40px 570px
}
.testimonials .testimonials-container .testimonials-second {
 -webkit-box-flex:7;
 -webkit-flex:7 0 0px;
 -ms-flex:7 0 0px;
 flex:7 0 0px;
 padding-left:15px
}
.testimonials .testimonials-images {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 max-width:655px
}
.testimonials .slider-testimonials {
 max-width:655px;
 margin:0 auto
}
.testimonials .testimonials-text {
 margin-top:95px
}
.testimonials .testimonials-text .testimonial-title {
 font-size:35px;
 color:#624499;
 margin-bottom:15px;
 text-transform:uppercase
}
.testimonials .testimonials-text .testimonial-description {
 font-size:22px;
 color:#414141;
 font-weight:100;
 line-height:1.2;
 margin-bottom:10px
}
.testimonials .testimonials-text .testimonial-name {
 font-weight:100;
 font-size:22px;
 color:#624499
}
.testimonials .testimonials-text .testimonial-name span {
 text-transform:uppercase
}
@media (max-width:1199px) {
 .testimonials .testimonials-container {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-top:50px
 }
 .testimonials .testimonials-container .testimonials-first {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  padding:0
 }
 .testimonials .testimonials-container .testimonials-first .testimonials-video-image {
  margin:0 auto 30px
 }
 .testimonials .testimonials-container .testimonials-second {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  padding:0
 }
 .testimonials .testimonials-text {
  margin-top:30px
 }
}
@media (max-width:767px) {
 .testimonials .slider-testimonials,.testimonials .testimonials-images {
  max-width:480px
 }
 .testimonials .testimonials-images .testimonials-image {
  padding:0 10px
 }
}
@media (max-width:480px) {
 .testimonials .slider-testimonials,.testimonials .testimonials-images {
  max-width:280px
 }
 .testimonials .testimonials-container .testimonials-first .testimonials-video-image {
  height:420px;
  background-size:contain;
  margin:0 auto 30px
 }
 .testimonials .testimonials-images .testimonials-image {
  padding:0 5px
 }
 .testimonials .testimonials-text {
  margin-top:10px
 }
 .testimonials .testimonials-text .testimonial-title {
  font-size:26px;
  margin-bottom:5px
 }
 .testimonials .testimonials-text .testimonial-description,.testimonials .testimonials-text .testimonial-name {
  font-size:16px
 }
}
.blogs .blogs-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-top:30px;
 margin-bottom:70px;
 text-decoration:none
}
.blogs .blogs-container:active,.blogs .blogs-container:focus,.blogs .blogs-container:hover {
 text-decoration:none
}
.blogs .blogs-container:active .blogs-text .blog-title,.blogs .blogs-container:active .blogs-text .blog-title-text,.blogs .blogs-container:active .blogs-text .blog-view-more,.blogs .blogs-container:focus .blogs-text .blog-title,.blogs .blogs-container:focus .blogs-text .blog-title-text,.blogs .blogs-container:focus .blogs-text .blog-view-more,.blogs .blogs-container:hover .blogs-text .blog-title,.blogs .blogs-container:hover .blogs-text .blog-title-text,.blogs .blogs-container:hover .blogs-text .blog-view-more {
 color:#EB1B69
}
.blogs .blogs-container .blogs-first {
 -webkit-box-flex:7;
 -webkit-flex:7 0 0px;
 -ms-flex:7 0 0px;
 flex:7 0 0px;
 max-width:655px;
 margin:0 auto
}
.blogs .blogs-container .blogs-second {
 -webkit-box-flex:5;
 -webkit-flex:5 0 0px;
 -ms-flex:5 0 0px;
 flex:5 0 0px;
 padding-left:30px
}
.blogs .blogs-container .blogs-second .blogs-video-image {
 background-size:cover;
 height:640px;
 background-repeat:no-repeat;
 width:100%;
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.blogs .blogs-container .blogs-images {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 max-width:655px;
 width:100%
}
.blogs .blogs-container .blogs-text {
 margin-top:95px;
 width:100%
}
.blogs .blogs-container .blogs-text .blog-title {
 font-size:35px;
 color:#624499;
 margin-bottom:15px;
 text-transform:uppercase;
 font-weight:300
}
.blogs .blogs-container .blogs-text .blog-title-text {
 font-size:22px;
 color:#624499;
 font-weight:100;
 margin-bottom:20px
}
.blogs .blogs-container .blogs-text .blog-description {
 font-size:22px;
 color:#414141;
 font-weight:100;
 line-height:1.2;
 margin-bottom:10px
}
.blogs .blogs-container .blogs-text .blog-view-more {
 font-weight:100;
 font-size:22px;
 color:#624499;
 text-decoration:none;
 text-transform:uppercase
}
.blogs .blogs-container .blogs-text .blog-view-more:hover {
 text-decoration:none
}
.blogs .blogs-container .blogs-text .blog-view-more span {
 text-transform:uppercase
}
.blogs .blogs-container.left .blogs-second {
 padding-left:0;
 padding-right:30px
}
@media (max-width:1199px) {
 .blogs .blogs-container {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-top:50px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
 }
 .blogs .blogs-container .blogs-first {
  padding:0;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%
 }
 .blogs .blogs-container .blogs-first .blogs-images {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -ms-flex-order:2;
  order:2;
  margin:20px 0
 }
 .blogs .blogs-container .blogs-first .blogs-text {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -ms-flex-order:1;
  order:1
 }
 .blogs .blogs-container .blogs-second {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  padding:0
 }
 .blogs .blogs-container .blogs-second .blogs-video-image {
  max-width:655px;
  height:320px;
  margin:0 auto 30px
 }
 .blogs .blogs-container .blogs-text {
  margin-top:30px
 }
 .blogs .blogs-container.left {
  margin-bottom:10px
 }
 .blogs .blogs-container.left .blogs-second {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -ms-flex-order:2;
  order:2;
  padding:0
 }
 .blogs .blogs-container.right {
  margin-top:10px
 }
}
@media (max-width:767px) {
 .blogs .blogs-images {
  max-width:480px
 }
 .blogs .blogs-images .blogs-image {
  padding:0 10px
 }
}
@media (max-width:480px) {
 .blogs .blogs-container {
  margin-top:10px;
  margin-bottom:30px
 }
 .blogs .blogs-container .blogs-second .blogs-video-image {
  max-width:270px;
  height:220px;
  margin:0 auto 30px
 }
 .blogs .blogs-container .blogs-first,.blogs .blogs-images {
  max-width:280px
 }
 .blogs .blogs-container .blogs-text {
  margin-top:10px
 }
 .blogs .blogs-container .blogs-text .blog-title {
  font-size:26px;
  margin-bottom:5px
 }
 .blogs .blogs-container .blogs-text .blog-description,.blogs .blogs-container .blogs-text .blog-view-more {
  font-size:16px
 }
 .blogs .blogs-images .blogs-image {
  padding:0 5px
 }
}
 
}
.call-us-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 height:100%;
 -webkit-box-flex:4;
 -webkit-flex:4 0 0%;
 -ms-flex:4 0 0%;
 flex:4 0 0%;
 margin:0 10px
}
.call-us-container .call-us {
 color:#FFF
}
.call-us-container .call-us .call-us-first-text {
 font-size:26px;
 text-transform:uppercase;
 line-height:1
}
.call-us-container .call-us .call-us-second-text {
 font-size:16px;
 font-weight:300;
 line-height:1;
 margin:5px 0
}
.call-us-container .call-us .call-us-third-text {
 font-size:40px;
 font-weight:300;
 line-height:1;
 letter-spacing:2px;
 color:#FFF;
 text-decoration:none
}
.call-us-container .call-us .call-us-third-text:hover {
 text-decoration:none
}
.call-us-container .call-us .call-us-fourth-text {
 font-size:20px;
 font-weight:300;
 line-height:1;
 text-align:right;
 letter-spacing:13px;
 position:relative;
 right:-20px
}
@media (max-width:1199px) {
 .call-us-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 50%;
  -ms-flex:1 0 50%;
  flex:1 0 50%;
  margin:50px 0
 }
}
@media (max-width:767px) {
 .call-us-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 70%;
  -ms-flex:1 0 70%;
  flex:1 0 70%;
  padding-left:30px
 }
}
@media (max-width:640px) {
 .call-us-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  margin:10px 0;
  padding-left:0
 }
 .call-us-container .call-us {
  text-align:center;
  max-width:300px;
  margin:0 auto
 }
 .call-us-container .call-us .call-us-third-text {
  font-size:30px
 }
 .call-us-container .call-us .call-us-fourth-text {
  letter-spacing:9px;
  right:6px
 }
}
.address-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 height:100%;
 -webkit-box-flex:4;
 -webkit-flex:4 0 0px;
 -ms-flex:4 0 0px;
 flex:4 0 0px;
 padding:0 10px
}
.address-container .address {
 color:#FFF;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 width:100%
}
.address-container .address .address-text {
 font-size:17px;
 font-weight:300;
 -webkit-box-flex:1;
 -webkit-flex:1 0 85%;
 -ms-flex:1 0 85%;
 flex:1 0 85%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.address-container .address .address-icon i,.social-container .social .social-icon i {
 font-size:45px
}
.address-container .address .address-text p {
 display:block;
 width:100
}
.address-container .address .address-icon {
 margin-right:8px;
 -webkit-box-flex:1;
 -webkit-flex:1 0 15%;
 -ms-flex:1 0 15%;
 flex:1 0 15%
}
@media (max-width:1200px) {
 .address-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 50%;
  -ms-flex:1 0 50%;
  flex:1 0 50%
 }
}
@media (max-width:640px) {
 .address-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  margin:10px 0
 }
}
.social-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 height:100%;
 -webkit-box-flex:2;
 -webkit-flex:2 0 0px;
 -ms-flex:2 0 0px;
 flex:2 0 0px;
 padding:0 0 0 10px
}
.social-container .social {
 color:#FFF;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.social-container .social .social-icon {
 color:#FFF;
 display:block;
 text-decoration:none;
 -webkit-transition:all .2s ease;
 transition:all .2s ease
}
.social-container .social .social-icon:hover {
 text-decoration:none;
 -webkit-transform:scale(1.2);
 transform:scale(1.2)
}
.social-container .social .social-icon:first-child {
 margin-right:35px
}
@media (max-width:640px) {
 .social-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  margin:10px 0;
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around
 }
}
.footer-bottom {
 height:47px;
 background-color:#252525;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.footer-bottom .logo-g4a {
 width:84px;
 display:block;
 margin-left:10px
}
.footer-bottom .text-g4a {
 font-size:14px;
 color:#FFF;
 font-weight:300
}
.intro-contact-parent .intro-contact h1 {
 font-size:35px;
 color:#624499;
 text-align:center;
 text-transform:uppercase;
 margin-bottom:30px;
 margin-top:65px
}
.intro-contact-parent .intro-contact p {
 font-size:22px;
 color:#414141;
 font-weight:300;
 text-align:center
}
@media (max-width:767px) {
 .intro-contact-parent .intro-contact h1 {
  margin-top:35px
 }
}
.contact-includes .contact-includes-single-container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin:65px 0
}
.contact-includes .contact-includes-single-container .contact-includes-single {
 max-width:220px;
 margin:0 auto;
 padding:0 10px
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon {
 margin-bottom:10px
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon i {
 -webkit-transition:all .7s ease;
 transition:all .7s ease
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon i.icon-rent,.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon i.icon-warranty,.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon i.icon-your-shop {
 display:block;
 margin:0 auto
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-icon i:hover {
 -webkit-transform:rotate(360deg);
 transform:rotate(360deg)
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-main-text {
 font-size:18px;
 color:#624499;
 text-align:center;
 margin-bottom:10px
}
.contact-includes .contact-includes-single-container .contact-includes-single .contact-includes-single-secondary-text {
 font-size:16px;
 color:#414141;
 text-align:center;
 font-weight:100;
 line-height:1.2
}
@media (max-width:767px) {
 .contact-includes .contact-includes-single-container {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:35px 0
 }
 .contact-includes .contact-includes-single-container .contact-includes-single {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  margin:0 auto 20px
 }
}
.vertical-line {
 height:2px;
 width:100%;
 background-color:#EB1B69;
 clear:both
}
.contact-form {
 padding-top:80px
}
input:focus,textarea:focus {
 outline:0
}
.input-container-parent {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-bottom:30px
}
.input-container-parent .input-container {
 -webkit-box-flex:1;
 -webkit-flex:1 0 50%;
 -ms-flex:1 0 50%;
 flex:1 0 50%
}
.input-container-parent .input-container>label {
 font-size:26px;
 color:#414141;
 font-weight:100;
 display:block;
 margin-bottom:15px
}
.input-container-parent .input-container>label.error {
 color:#EB1B69;
 margin-top:5px;
 margin-bottom:0
}
.input-container-parent .input-container .form-error-label {
 color:#EB1B69;
 margin-top:5px;
 margin-bottom:0;
 font-size:15px;
 font-weight:100;
 position:absolute
}
.input-container-parent .input-container input[type=text],.input-container-parent .input-container input[type=email] {
 background-color:#FFF;
 height:60px;
 -webkit-box-flex:1;
 -webkit-flex:1 0 auto;
 -ms-flex:1 0 auto;
 flex:1 0 auto;
 color:#414141;
 font-size:30px;
 padding:0 10px;
 border:2px solid #624499;
 width:100%
}
.input-container-parent .input-container:nth-child(2) {
 margin-left:40px
}
.input-container-parent .input-container.textarea {
 -webkit-box-flex:1;
 -webkit-flex:1 0 65%;
 -ms-flex:1 0 65%;
 flex:1 0 65%
}
.input-container-parent .input-container.textarea textarea {
 color:#414141;
 font-size:30px;
 padding:10px;
 border:2px solid #624499;
 width:100%
}
.input-container-parent .form-button-container {
 margin-left:70px;
 -webkit-box-flex:1;
 -webkit-flex:1 0 30%;
 -ms-flex:1 0 30%;
 flex:1 0 30%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column
}
.input-container-parent .form-button-container .g-recaptcha {
 margin-top:40px
}
.input-container-parent .form-button-container #imgid {
 max-width:200px
}
.input-container-parent .form-button-container .form-button {
 display:block;
 background-color:#EB1B69;
 height:65px;
 width:295px;
 border:none
}
.input-container-parent .form-button-container .form-button span {
 font-size:22px;
 color:#FFF;
 text-transform:uppercase;
 font-weight:100
}
@media (max-width:1199px) {
 .input-container-parent {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
 }
 .input-container-parent .input-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 45%;
  -ms-flex:1 0 45%;
  flex:1 0 45%
 }
 .input-container-parent .input-container.textarea {
  -webkit-box-flex:1;
  -webkit-flex:1 0 60%;
  -ms-flex:1 0 60%;
  flex:1 0 60%
 }
}
@media (max-width:991px) {
 .input-container-parent .form-button-container {
  margin-left:0;
  margin-top:30px
 }
 .input-container-parent .form-button-container .form-button {
  margin-top:30px
 }
}
@media (max-width:767px) {
 .input-container-parent {
  margin-bottom:0
 }
 .input-container-parent .input-container {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  margin-bottom:30px
 }
 .input-container-parent .input-container.textarea {
  -webkit-box-flex:1;
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%
 }
 .input-container-parent .input-container:nth-child(2) {
  margin-left:0
 }
 .input-container-parent .form-button-container {
  margin-bottom:30px
 }
 .input-container-parent .form-button-container .form-button {
  width:275px
 }
}
.notification {
 position:fixed;
 height:100px;
 max-width:300px;
 width:100%;
 border-radius:10px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 right:20px;
 bottom:20px;
 z-index:5;
 padding:20px;
 box-shadow:-3px 5px 5px 1px rgba(0,0,0,.2)
}
.notification.success {
 background-color:#7ab55c
}
.notification.success i {
 color:#7ab55c
}
.notification.error {
 background-color:red
}
.notification.error i {
 color:red
}
.notification .notification-circle-parent {
 -webkit-box-flex:1;
 -webkit-flex:1 0 0px;
 -ms-flex:1 0 0px;
 flex:1 0 0px
}
.notification .notification-circle-parent .notification-circle {
 height:60px;
 width:60px;
 border-radius:50%;
 background-color:#FFF;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.most-popular,.search-container button {
 background-color:#F7F7F7
}
.notification .notification-circle-parent .notification-circle i {
 font-size:35px;
 line-height:.5
}
.notification .message {
 -webkit-box-flex:3;
 -webkit-flex:3 0 0px;
 -ms-flex:3 0 0px;
 flex:3 0 0px;
 padding:10px;
 color:#FFF;
 font-size:20px;
 line-height:1.2;
 font-weight:400
}
.notification .myclose {
 position:absolute;
 top:10px;
 right:10px;
 height:20px;
 width:20px;
 border:2px solid #FFF;
 border-radius:50%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 cursor:pointer
}
.notification .myclose span {
 color:#FFF;
 position:relative;
 top:-1px;
 font-weight:400
}
@media (max-width:767px) {
 .notification {
  left:0;
  right:0;
  margin:auto;
  bottom:75px
 }
}
.most-popular .most-popular-container h2 {
 color:#624499;
 font-size:35px;
 text-align:center;
 margin-top:60px;
 text-transform:uppercase;
 font-weight:300
}
.most-popular .most-popular-container .most-popular-blocks {
 margin-top:45px;
 margin-bottom:60px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:1;
 -webkit-flex:1 0 0px;
 -ms-flex:1 0 0px;
 flex:1 0 0px;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block {
 max-width:310px;
 width:100%;
 display:block;
 text-decoration:none
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block:hover {
 text-decoration:none
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block:hover .most-popular-block-title {
 color:#EB1B69
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block .most-popular-block-title {
 font-size:35px;
 font-weight:300;
 color:#624499;
 margin-top:20px;
 line-height:1
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block.left {
 padding-right:15px
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block.center {
 padding-right:15px;
 padding-left:15px
}
.most-popular .most-popular-container .most-popular-blocks .most-popular-block.right {
 padding-left:15px
}
@media (max-width:991px) {
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block .most-popular-block-title {
  font-size:26px
 }
}
@media (max-width:767px) {
 .most-popular .most-popular-container .most-popular-blocks {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
 }
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block {
  margin:0 auto 20px
 }
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block .most-popular-block-title {
  font-size:22px
 }
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block.left {
  padding-right:0
 }
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block.center {
  padding-right:0;
  padding-left:0
 }
 .most-popular .most-popular-container .most-popular-blocks .most-popular-block.right {
  padding-left:0
 }
}
.pagination-container {
 margin-bottom:30px;
 text-align:center
}
.pagination-container .mypagination a,.pagination-container .mypagination span {
 color:#624499;
 font-size:30px;
 font-weight:100;
 text-decoration:none;
 display:inline-block;
 margin:0 12px
}
.pagination-container .mypagination a.next:after,.pagination-container .mypagination a.prev:after,.pagination-container .mypagination span.next:after,.pagination-container .mypagination span.prev:after {
 font-family:untitled-font-15!important;
 font-style:normal!important;
 font-weight:400!important;
 font-variant:normal!important;
 text-transform:none!important;
 speak:none;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 top:3px;
 line-height:1;
 position:relative
}
.pagination-container .mypagination a:hover,.pagination-container .mypagination span:hover {
 text-decoration:none;
 color:#EB1B69
}
.pagination-container .mypagination a.current,.pagination-container .mypagination span.current {
 color:#EB1B69
}
.pagination-container .mypagination a.next,.pagination-container .mypagination span.next {
 font-size:0
}
.pagination-container .mypagination a.next:after,.pagination-container .mypagination span.next:after {
 font-size:30px;
 content:"\72"
}
.pagination-container .mypagination a.prev,.pagination-container .mypagination span.prev {
 font-size:0
}
.pagination-container .mypagination a.prev:after,.pagination-container .mypagination span.prev:after {
 font-size:30px;
 content:"\73"
}
.search-container {
 margin-top:30px
}
.search-container form {
 text-align:right
}
.search-container .search-input {
 height:26px;
 background-color:#F7F7F7;
 border:none;
 padding:5px 10px;
 color:#624499
}
.search-container button {
 border:none;
 position:relative;
 left:-4px;
 top:4px;
 height:26px
}
.search-container button i {
 color:#624499;
 display:block;
 font-size:20px;
 line-height:1
}
.single-container .single-note h1 {
 font-size:35px;
 color:#624499;
 text-align:center;
 font-weight:300;
 margin-top:75px
}
.single-container .main-text {
 font-size:22px;
 color:#624499;
 font-weight:300;
 max-width:790px;
 margin:0 auto;
 padding:0 20px;
 text-align:center
}
.single-container .info-single {
 margin-top:20px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 font-size:22px;
 font-weight:500;
 color:#624499
}
.single-container .content-single {
 margin-top:40px;
 font-size:22px;
 color:#414141;
 line-height:1.2;
 font-weight:300
}
.single-container .content-single .featured {
 float:left;
 padding-right:30px;
 padding-bottom:30px
}
.single-container .content-single ul {
 padding:0;
 position:relative;
 right:-20px
}
.single-container .content-single div,.single-container .content-single p,.single-container .content-single span,.single-container .content-single ul {
 font-size:22px;
 color:#414141;
 line-height:1.2;
 font-weight:300;
 margin-bottom:20px
}
.single-container .content-single img {
 max-width:100%;
 height:auto;
 margin:0 auto
}
@media (max-width:767px) {
 .single-container .single-note h1 {
  margin-top:35px
 }
 .single-container .content-single .featured {
  max-width:360px
 }
 .single-container .content-single ul {
  width:calc(100% - 20px);
  text-align:left
 }
}
@media (max-width:640px) {
 .single-container .single-note h1 {
  font-size:26px
 }
 .single-container .main-text {
  font-size:20px
 }
 .single-container .content-single {
  text-align:center;
  font-size:18px;
  color:#414141;
  line-height:1.2;
  font-weight:300
 }
 .single-container .content-single div,.single-container .content-single p,.single-container .content-single span,.single-container .content-single ul {
  font-size:18px;
  color:#414141;
  line-height:1.2;
  font-weight:300;
  margin-bottom:20px
 }
 .single-container .content-single .featured {
  float:none;
  margin:0 auto;
  max-width:100%;
  padding-right:0
 }
}
.fixed-social {
 position:fixed;
 z-index:10;
 right:0;
 bottom:70px
}
.fixed-social ul {
 padding:0;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column
}
.fixed-social ul li {
 list-style-type:none;
 margin-top:5px
}
.fixed-social ul li a {
 width:60px;
 height:60px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 color:#fff;
 font-size:40px;
 border-radius:50%;
 line-height:.7;
 text-decoration:none
}
.fixed-social ul li a:active,.fixed-social ul li a:after,.fixed-social ul li a:hover {
 text-decoration:none4
}
.fixed-social ul li a.facebook {
 background-color:#3b5998
}
.fixed-social ul li a.twitter {
 background-color:#55acee
}
.thak-you-parent {
 height:100vh
}
.thank-you-image {
 height:655px;
 background-image:url(../img/gracias.png);
 background-repeat:no-repeat;
 background-position:center;
 background-size:cover;
 width:100%
}
@media (max-width:480px) {
 .thank-you-image {
  display:none
 }
}
.container-thanks {
 max-width:700px;
 margin:-315px auto 75px
}
.container-thanks h1 {
 text-align:center;
 font-size:55px;
 color:#624499;
 line-height:.7;
 text-transform:uppercase
}
.container-thanks h2 {
 text-align:center;
 font-size:30px;
 color:#EB1B69;
 text-transform:uppercase;
 font-weight:100
}
.container-thanks p {
 font-size:22px;
 color:#EB1B69;
 text-align:center;
 padding:0 20px;
 line-height:1.2;
 margin:0 auto
}
.container-thanks .button-thanks {
 height:60px;
 width:230px;
 background-color:transparent;
 border:2px solid #EB1B69;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin:30px auto;
 text-decoration:none;
 position:relative;
 overflow:hidden
}
.container-thanks .button-thanks:hover {
 text-decoration:none;
 color:#FFF
}
.container-thanks .button-thanks span {
 display:block;
 color:#EB1B69;
 font-size:20px;
 font-weight:100;
 position:relative;
 z-index:2;
 -webkit-transition:all .5s ease-in;
 transition:all .5s ease-in
}
.container-thanks .button-thanks:after,.container-thanks .button-thanks:before {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0;
 position:absolute
}
.container-thanks .button-thanks:before {
 border-color:transparent transparent transparent #EB1B69;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.container-thanks .button-thanks:after {
 border-color:transparent #EB1B69 transparent transparent;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.container-thanks .button-thanks:hover:after,.container-thanks .button-thanks:hover:before {
 border-width:40px 570px
}
.container-thanks .button-thanks:hover span {
 color:#FFF
}
@media (max-width:991px) {
 .container-thanks {
  margin:-450px auto 75px
 }
}
@media (min-width:991px) and (max-height:600px) {
 .container-thanks {
  margin:-430px auto 75px
 }
}
@media (max-width:480px) {
 .container-thanks {
  margin:0
 }
}
.container-404-parent {
 height:100vh;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 text-align:center
}
.container-404-parent .container-404 h1 {
 font-size:265px;
 color:#624499;
 line-height:.7
}
.container-404-parent .container-404 h2 {
 font-size:30px;
 color:#EB1B69;
 text-transform:uppercase;
 font-weight:100
}
.container-404-parent .container-404 p {
 font-size:22px;
 color:#EB1B69;
 max-width:460px;
 padding:0 20px;
 line-height:1.2;
 margin:0 auto
}
.container-404-parent .container-404 .button-404 {
 height:60px;
 width:230px;
 background-color:transparent;
 border:2px solid #EB1B69;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin:30px auto;
 text-decoration:none;
 position:relative;
 overflow:hidden
}
.container-404-parent .container-404 .button-404:after,.container-404-parent .container-404 .button-404:before {
 content:'';
 width:0;
 height:0;
 -webkit-transform:rotate(360deg);
 border-style:solid;
 border-width:0
}
.container-404-parent .container-404 .button-404:hover {
 text-decoration:none;
 color:#FFF
}
.container-404-parent .container-404 .button-404 span {
 display:block;
 color:#EB1B69;
 font-size:20px;
 font-weight:100;
 position:relative;
 z-index:2;
 -webkit-transition:all .5s ease-in;
 transition:all .5s ease-in
}
.container-404-parent .container-404 .button-404:before {
 border-color:transparent transparent transparent #EB1B69;
 position:absolute;
 bottom:0;
 left:0;
 -webkit-transition:.6s;
 transition:.6s
}
.container-404-parent .container-404 .button-404:after {
 border-color:transparent #EB1B69 transparent transparent;
 position:absolute;
 top:0;
 right:0;
 -webkit-transition:.6s;
 transition:.6s
}
.container-404-parent .container-404 .button-404:hover:after,.container-404-parent .container-404 .button-404:hover:before {
 border-width:40px 570px
}
.container-404-parent .container-404 .button-404:hover span {
 color:#FFF
}
#hexagon1,#hexagon2,#hexagon3,#hexagon4,#hexagon5,#hexagon6 {
 position:absolute;
 top:-24px;
 left:0;
 right:0;
 margin:auto
}
@media (max-width:991px) {
 #hexagon1,#hexagon2,#hexagon3,#hexagon4,#hexagon5,#hexagon6 {
  top:5px;
  -webkit-transform:scale(1.3);
  transform:scale(1.3)
 }
}
@media (max-width:767px) {
 .container-404-parent .container-404 h1 {
  font-size:105px
 }
 .container-404-parent .container-404 h2 {
  font-size:22px
 }
 .container-404-parent .container-404 p {
  font-size:20px
 }
 #hexagon1,#hexagon2,#hexagon3,#hexagon4,#hexagon5,#hexagon6 {
  top:2px;
  -webkit-transform:scale(.95);
  transform:scale(.95)
 }
}
