.main-title-subsection h2 {
 font-size:35px;
 color:#624499;
 text-transform:uppercase;
 text-align:center;
 margin-bottom:20px;
 margin-top:0
}

.main-title-subsection div,.main-title-subsection p,.main-title-subsection span {
    font-size:22px;
    color:#414141;
    text-align:center;
    font-weight:300;
    line-height:1.2;
    margin:0
   }

   .include-single .include .include-main-text {
    font-size:26px;
    color:#624499;
    text-transform:uppercase;
    text-align:right
   }

   .include-single .include.two .include-main-text,.include-single .include.two .include-secondary-text {
    text-align:left
   }
   

   .include-single .include .include-secondary-text {
    font-size:22px;
    color:#414141;
    text-align:right;
    font-weight:300
   }

   .include-single {
    max-width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin-bottom:60px
   }

   .include-single .include {
    width:calc(100% - 60px);
    margin-right:20px
   }

    }
    .include-single .include .include-main-text {
    font-size:26px;
    color:#624499;
    text-transform:uppercase;
    text-align:right
    }

    